@{
    ViewData["Title"] = "People Search";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <h2>People Search</h2>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search with Name" title="Type in a name">

    <table id="myTable">
        <tr class="header">
            <th></th>
            <th style="width:30%;">Name</th>
            <th style="width:45%;">Address</th>
            <th style="width:30%;">Age</th>
            <th style="width:30%;">Interests</th>
        </tr>
        <tr>
            <td><img src="~/images/img1.png" alt="Avatar"></td>
            <td>Alfreds Kiste</td>
            <td>
                6 Alderwood Court
                Gulfport, MS 39503
            </td>
            <td>34</td>
            <td>Sports</td>
        </tr>
        <tr>
            <td><img src="~/images/img2.png" alt="Avatar"></td>
            <td>Bergan Fay</td>
            <td>
                7941 Tailwater Drive
                Blackwood, NJ 08012
            </td>
            <td>24</td>
            <td>Adventure</td>
        </tr>
        <tr>
            <td><img src="~/images/img1.png" alt="Avatar"></td>
            <td>Ricky Martyn</td>
            <td>
                707 North Willow Street
                Latrobe, PA 15650
            </td>
            <td>29</td>
            <td>Movies</td>
        </tr>
        <tr>
            <td><img src="~/images/img1.png" alt="Avatar"></td>
            <td>Tom Essen</td>
            <td>
                252 North University Dr.
                Dorchester, MA 02125
            </td>
            <td>38</td>
            <td>World</td>
        </tr>
        <tr>
            <td><img src="~/images/img1.png" alt="Avatar"></td>
            <td>Tom   Winecl</td>
            <td>
                200 Pearl Street
                Holbrook, NY 11741
            </td>
            <td>34</td>
            <td>Sports</td>
        </tr>
        <tr>
            <td><img src="~/images/img2.png" alt="Avatar"></td>
            <td>Evan Riuniti</td>
            <td>
                70 South Lantern Drive
                Dublin, CA 94551
            </td>
            <td>34</td>
            <td>Food</td>
        </tr>
        <tr>
            <td><img src="~/images/img2.png" alt="Avatar"></td>
            <td>Judiee Lee</td>
            <td>
                71 Kew St
                Pinova, UT 44312
            </td>
            <td>45</td>
            <td>Politics</td>
        </tr>
        <tr>
            <td><img src="~/images/img2.png" alt="Avatar"></td>
            <td>Marie Spark</td>
            <td>
                70 South Lantern Drive
                Akron, OH 44312
            </td>
            <td>33</td>
            <td>Travel</td>
        </tr>
    </table>
    <script src="~/js/main.js"></script>
</body>
</html>
